<div class="icr-styles-view-main">
    <div class="icr-main-content">
        <p>Hey there, this is the basic html and css for elements on iCracked.com. This repository also uses media-directive.sass and media.sass to generate some of these styles. If you are bringing these styles into a new project, be sure to include those files.</p>
        <p>The github for this repo is <a href="https://github.com/icracked/icr-style-guide" target="_blank" class="icr-main-link">here</a>.
        
        <h2>Resources</h2>
        <ul class="icr-main-list">
            <li><a href="http://www.sitepoint.com/atomic-oobemitscss/" class="icr-main-link" target="_blank">Atomic OOBEMITSCSS: Naming convention for classes</a></li>
            <li><a href="http://jonibologna.com/flexbox-cheatsheet/" class="icr-main-link" target="_blank">Flexbox Cheat Sheet</a></li>
            <li><a href="https://css-tricks.com/centering-css-complete-guide/" class="icr-main-link" target="_blank">Centering all the things</a></li>
            <li><a href="https://css-tricks.com/the-css-box-model/" class="icr-main-link" target="_blank">The Basics: Box Model Explained</a></li>
        </ul>
    </div>
</div>