<div class="cream-styles-view-main">
    <div class="cream-main-content">
        <p>Hey there, this is the basic html and css template used for <a href="www.ashlynaiu.com" target="_blank" class="cream-main-link">Ashlyn Aiu</a>. Check out the <a href="https://github.com/ashlynaiu/ashlyn-template" target="_blank" class="cream-main-link">repository</a> and a sample of the template being used on my <a href="http://ashlynaiu.com/" target="_blank" class="cream-main-link">portfolio site</a>. Some of this code originated from development work done at <a href="https://www.icracked.com/" target="_blank" class="cream-main-link">iCracked.com</a>.</p>
        <p>The github for this repo is <a href="https://github.com/ashlynaiu/style-guide" target="_blank" class="cream-main-link">here</a>.</p>

        <h2>Favorite Resources</h2>
        <ul class="cream-main-list">
            <li><a href="http://www.sitepoint.com/atomic-oobemitscss/" class="cream-main-link" target="_blank">Atomic OOBEMITSCSS: Naming convention for classes</a></li>
            <li><a href="http://jonibologna.com/flexbox-cheatsheet/" class="cream-main-link" target="_blank">Flexbox Cheat Sheet</a></li>
            <li><a href="https://css-tricks.com/centering-css-complete-guide/" class="cream-main-link" target="_blank">Centering all the things</a></li>
            <li><a href="https://css-tricks.com/the-css-box-model/" class="cream-main-link" target="_blank">The Basics: Box Model Explained</a></li>
        </ul>
    </div>
</div>
