<div class="cream-styles-view-resets">
    <div class="cream-main-content">
        <h2>Basic Headers</h2>
        <div class="cream-style-component">
            <div class="cream-style-component-render">
                <h1>H1 Header</h1>
                <h2>H2 Header</h2>
                <h3>H3 Header</h3>
                <h4>H4 Headers</h4>
            </div>
        </div>

        <h2>Lists</h2>
        <div class="cream-style-component">
            <div class="cream-style-component-render">
                <ul class="cream-main-list">
                    <li>List Item #1</li>
                    <li>List Item #2</li>
                    <li>List Item #3</li>
                    <li>List Item #4</li>
                    <li>List Item #5</li>
                </ul>

            </div>
        </div>
        <h2>Buttons</h2>
        <div class="cream-style-component">
            <div class="cream-style-component-render">
                <button class="cream-main-button">Click Here</button>
                <button class="cream-main-button-aux">Click Here</button>
                <button class="cream-main-button-sell">Click Here</button>
                <button class="cream-main-button-advantage">Click Here</button>
                <button class="cream-main-button-advantage-secondary">Click Here</button>
            </div>
        </div>
    </div>
</div>
